*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}



:root{
    --Moderateviolet: hsl(263, 55%, 52%);
    --violet: hsla(263, 68%, 71%, 0.795);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayishblue: hsl(210, 46%, 95%);

}
body{
    background-color: var(--Lightgrayishblue);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Start main*/

#main{
    display: block;
    justify-content: center;
    align-items: center;
}

.grid__main{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
/*End main*/


/*Start Profile Selection*/
.daniel__grid{
    position: relative;
    background: var(--Moderateviolet);
    height: 440px;
    width: 340px;
    border-radius: 10px;
    color: var(--White);
    z-index: -3;
}

.daniel__grid  .profile__daniel{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 30px;
}



.daniel__testimony h3{
    padding: 1px 35px;
    line-height: 1.5;
    
}


.daniel__testimony p{
    padding: 15px 35px;
    line-height: 1.5;
    color: var(--Lightgray);
}

.daniel__grid img[src*="./image-daniel.jpg"]{
    width: 13%;
    border-radius: 50%;
    border: 2px solid var(--violet);
}


.daniel__status{
    padding: 0 15px;
}

.daniel__status p{
    color: var(--Lightgray);
}

.bg img[src*="./bg-pattern-quotation.svg"]{
    position: absolute;
    top: auto;
    left: 62%;
    z-index: -1;
    
}


.jonathan__grid{
    background: var(--Verydarkgrayishblue);
    height: 240px;
    width: 340px;
    border-radius: 10px;
    color: var(--White);
}

.jonathan__grid .profile__jonathan{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 30px;
}

.profile__jonathan img{
    width: 12%;
    border-radius: 50%;
    border: 2px solid var(--White);
}

.jonathan__status{
    padding: 0 15px;
}


.jonathan__testimony h3{
    padding: 1px 35px;
    line-height: 1.5;
    
}


.jonathan__testimony p{
    padding: 15px 35px;
    line-height: 1.5;
    color: var(--Lightgray);
}


.jeanette__grid{
    background: var(--White);
    border-radius: 10px;
    height: 220px;
    width: 340px;
    color: var(--Verydarkgrayishblue);
}

.jeanette__grid .profile__jeanette{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 30px;
    
}

.profile__jeanette img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--White);
}

.jeanette__status{
    padding: 0px 15px;
}

.jeanette__status p{
    color: var(--Lightgray);
}


.jeanette__testimony h3{
    padding: 1px 35px;
}

.jeanette__testimony p{
    padding: 15px 35px;
    line-height: 1.5;
    color: var(--Lightgray);
}


.patrick__grid{
    color: var(--White);
    border-radius: 10px;
    height: 385px;
    width: 340px;
    background: var(--Verydarkblackishblue);
}

.profile__patrick{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 30px;
}

.profile__patrick img{
    width: 30px;
    border-radius: 50%;
    border: 2px solid var(--violet);
}

.patrick__status{
    padding: 0 15px;
}

.patrick__status p{
    color: var(--Lightgray);
}

.patrick__testimony h3{
    padding: 1px 35px;
}

.patrick__testimony p{
    color: var(--Lightgray);
    padding: 15px 35px;
}


.kira__grid{
    background: var(--White);
    border-radius: 10px;
    height: 435px;
    width: 340px;
    color: var(--Verydarkgrayishblue);
}

.profile__kira{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 30px;
}

.profile__kira img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--White);
}


.kira__status{
    padding: 0 15px;
}

.kira__status p{
    color: var(--Lightgray);
}

.kira__testimony h3{
    padding: 0px 35px;
}

.kira__testimony p{
    padding: 15px 35px;
    color: var(--Lightgray);
}

/*End Profile selection*/


/*Start Resposive design*/

@media (min-width:375px){
    #main{
        width: 340px;
    }

    .grid__main{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}